/*.left_custom{
	left:0;
	top:0;
	height:45px;
	width:45px;
}
.right_custom{
	right:0;
	top:0;
	height:45px;
	width:45px;
}*/
/*.ui-header .ui-btn, .ui-header .ui-icon, .ui-header .ui-btn-inner {
    width: 45px;
    height: 45px;
}
.ui-header .ui-btn-inner .ui-icon{
    margin: 0px;
    border-radius: 0;
}
.ui-header {
    height: 60px;
}*/